<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.10.53 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_10Main">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="10"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="es"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="fr"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_31]"/>
          <Property Name="Height" Value="56"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="36"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[MainPage]"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="69"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_31]"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_37]"/>
          <Property Name="Height" Value="56"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="36"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[MainPage]"/>
          <Property Name="TextIndex" Value="1"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="132"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_37]"/>
          <Property Name="Width" Value="160"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_31">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.StartPB]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_37">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.StopPB]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>