<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.10.53 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_30Recipe">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="30"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95372" Value="IMPORT"/>
          <Text ID="95374" Value="EXPORT"/>
          <Text ID="95376" Value="OPEN"/>
          <Text ID="95378" Value="SAVE"/>
          <Text ID="95380" Value="RENAME"/>
          <Text ID="95382" Value="SELECT TARGET RECIPE"/>
          <Text ID="95383" Value="NOTE:  OPENING OR IMPORTING A RECIPE IS ONLY PERMITTED WHEN THE MACHINE IS STOPPED"/>
          <Text ID="95471" Value="DELETE"/>
          <Text ID="96057" Value="NEW"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95372" Value=""/>
          <Text ID="95374" Value=""/>
          <Text ID="95376" Value=""/>
          <Text ID="95378" Value=""/>
          <Text ID="95380" Value=""/>
          <Text ID="95382" Value=""/>
          <Text ID="95383" Value=""/>
          <Text ID="95471" Value=""/>
          <Text ID="96057" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95372" Value=""/>
          <Text ID="95374" Value=""/>
          <Text ID="95376" Value=""/>
          <Text ID="95378" Value=""/>
          <Text ID="95380" Value=""/>
          <Text ID="95382" Value=""/>
          <Text ID="95383" Value=""/>
          <Text ID="95471" Value=""/>
          <Text ID="96057" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95372" Value=""/>
          <Text ID="95374" Value=""/>
          <Text ID="95376" Value=""/>
          <Text ID="95378" Value=""/>
          <Text ID="95380" Value=""/>
          <Text ID="95382" Value=""/>
          <Text ID="95383" Value=""/>
          <Text ID="95471" Value=""/>
          <Text ID="96057" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95372" Value=""/>
          <Text ID="95374" Value=""/>
          <Text ID="95376" Value=""/>
          <Text ID="95378" Value=""/>
          <Text ID="95380" Value=""/>
          <Text ID="95382" Value=""/>
          <Text ID="95383" Value=""/>
          <Text ID="95471" Value=""/>
          <Text ID="96057" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95372" Value="0"/>
          <Index ID="95374" Value="2"/>
          <Index ID="95376" Value="4"/>
          <Index ID="95378" Value="6"/>
          <Index ID="95380" Value="8"/>
          <Index ID="95382" Value="10"/>
          <Index ID="95383" Value="11"/>
          <Index ID="95471" Value="12"/>
          <Index ID="96057" Value="19"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ImportIcon]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteImportRec]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="320"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_ImportConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ExportIcon2]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteExportIcon2]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="2"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="370"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_ExportConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[LoadRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteOpen]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeLoadSDP]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="120"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_LoadConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SaveRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteSave]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeSaveSDP]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="6"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="170"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_SaveConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="Bitmap" Value="Source[local].Bitmap[RenameRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteRename]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="8"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="220"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_RenameConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001008" Name="Listbox_3">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="262"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeN]"/>
          <Property Name="Left" Value="32"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.datamgr.RecipeInternal.MaxFiles]"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="None"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="XXX.) SAMPLE RECIPE NAME"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TextDatapoint" Value="Source[global].Variable[DataSource.RecipesCyclic.FileNames_vc]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleStrings"/>
          <Property Name="Top" Value="110"/>
          <Property Name="Width" Value="550"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="32"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="500"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="32"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="379"/>
          <Property Name="Width" Value="550"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="Bitmap" Value="Source[local].Bitmap[DeleteRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteDelete]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="12"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_DeleteConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="548"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollDownButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="339"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[RecipeDown]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="548"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollUpButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="113"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[RecipeUp]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="Bitmap" Value="Source[local].Bitmap[NewRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="45"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="614"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteNew]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeNewSDP]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="19"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="70"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_NewConfirm]"/>
          <Property Name="Width" Value="162"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="RecipeUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="32768"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="-1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeN]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="RecipeDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="32768"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeN]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="Export">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeExportConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96042" Value="EXPORT\nALL"/>
          <Text ID="96044" Value="CANCEL"/>
          <Text ID="96053" Value="EXPORT"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96042" Value=""/>
          <Text ID="96044" Value=""/>
          <Text ID="96053" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96042" Value=""/>
          <Text ID="96044" Value=""/>
          <Text ID="96053" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96042" Value=""/>
          <Text ID="96044" Value=""/>
          <Text ID="96053" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96042" Value=""/>
          <Text ID="96044" Value=""/>
          <Text ID="96053" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="96042" Value="10"/>
          <Index ID="96044" Value="12"/>
          <Index ID="96053" Value="15"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ExportAllIcon2]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="125"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteExportAllIcon2]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="10"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_ExportAll]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="512"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="12"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_ExportCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="362"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="225"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeNExt]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="75"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ExportIcon2]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="319"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteExportIcon2]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Export]"/>
          <Property Name="Width" Value="162"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Import">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeImportConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96021" Value="IMPORT\nALL"/>
          <Text ID="96023" Value="CANCEL"/>
          <Text ID="96051" Value="IMPORT"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96021" Value=""/>
          <Text ID="96023" Value=""/>
          <Text ID="96051" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96021" Value=""/>
          <Text ID="96023" Value=""/>
          <Text ID="96051" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96021" Value=""/>
          <Text ID="96023" Value=""/>
          <Text ID="96051" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96021" Value=""/>
          <Text ID="96023" Value=""/>
          <Text ID="96051" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="96021" Value="4"/>
          <Index ID="96023" Value="6"/>
          <Index ID="96051" Value="9"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ImportAllIcon]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="125"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteImportAllIcon]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_ImportAll]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="512"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="6"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_ImportCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="362"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="225"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeNExt]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="75"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ImportIcon]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="319"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteImportRec]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="9"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Import]"/>
          <Property Name="Width" Value="162"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="New">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeNewConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96066" Value="NEW"/>
          <Text ID="96068" Value="CANCEL"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96066" Value=""/>
          <Text ID="96068" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96066" Value=""/>
          <Text ID="96068" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96066" Value=""/>
          <Text ID="96068" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96066" Value=""/>
          <Text ID="96068" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="96066" Value="4"/>
          <Index ID="96068" Value="6"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[NewRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="162"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteNew]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_New]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="6"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_NewCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="175"/>
          <Property Name="MaxChars" Value="30"/>
          <Property Name="SimulationValue" Value="EXAMPLE RECIPE NAME"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="Top" Value="225"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeName]"/>
          <Property Name="Width" Value="450"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Rename">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeRenameConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="5"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95863" Value="RENAME"/>
          <Text ID="95865" Value="CANCEL"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95863" Value=""/>
          <Text ID="95865" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95863" Value=""/>
          <Text ID="95865" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95863" Value=""/>
          <Text ID="95865" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95863" Value=""/>
          <Text ID="95865" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95863" Value="20"/>
          <Index ID="95865" Value="22"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[RenameRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="162"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteRename]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="20"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Rename]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="22"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_RenameCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="175"/>
          <Property Name="MaxChars" Value="30"/>
          <Property Name="SimulationValue" Value="EXAMPLE RECIPE NAME"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="Top" Value="225"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeName]"/>
          <Property Name="Width" Value="450"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Delete">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeDeleteConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="6"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95838" Value="DELETE"/>
          <Text ID="95840" Value="CANCEL"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95838" Value=""/>
          <Text ID="95840" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95838" Value=""/>
          <Text ID="95840" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95838" Value=""/>
          <Text ID="95840" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95838" Value=""/>
          <Text ID="95840" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95838" Value="14"/>
          <Index ID="95840" Value="16"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[DeleteRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="162"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteDelete]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="14"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Delete]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_DeleteCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Load">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeLoadConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="7"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95816" Value="OPEN"/>
          <Text ID="95818" Value="CANCEL"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95816" Value=""/>
          <Text ID="95818" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95816" Value=""/>
          <Text ID="95818" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95816" Value=""/>
          <Text ID="95818" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95816" Value=""/>
          <Text ID="95818" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95816" Value="8"/>
          <Index ID="95818" Value="10"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[LoadRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="162"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteOpen]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="8"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Load]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="10"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_LoadCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Status">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeStatusSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="8"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95878" Value="OK"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95878" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95878" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95878" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95878" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95878" Value="8"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="BackColor" Value="40"/>
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="319"/>
          <Property Name="PressedBackColor" Value="40"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeStatusOKSDP]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="8"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_StatusOK]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeStatus]"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[RecipeStatus]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Save">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.RecipeSaveConfirmSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="9"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95803" Value="SAVE"/>
          <Text ID="95805" Value="CANCEL"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95803" Value=""/>
          <Text ID="95805" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95803" Value=""/>
          <Text ID="95805" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95803" Value=""/>
          <Text ID="95805" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95803" Value=""/>
          <Text ID="95805" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95803" Value="2"/>
          <Index ID="95805" Value="4"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent2]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="480"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BrightAL]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="219"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="254"/>
          <Property Name="Height" Value="219"/>
          <Property Name="Left" Value="88"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="131"/>
          <Property Name="Width" Value="625"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SaveRecipe]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="162"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[WhiteSave]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="2"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Save]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X_red]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_SaveCancel]"/>
          <Property Name="Width" Value="162"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="80"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeConfirm]"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="140"/>
          <Property Name="Width" Value="575"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="10"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Listbox_3]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[New].Control[String_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[New].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Export].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Import].Control[Numeric_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Import].Control[Numeric_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Import].Control[Numeric_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Import].Control[Numeric_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Import].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[New].Control[String_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[New].Control[String_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[New].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Rename].Control[String_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Rename].Control[String_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Rename].Control[String_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Rename].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Rename].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Export].Control[Numeric_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[New].Control[String_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Rename].Control[String_1]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Import].Control[Numeric_1]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Export].Control[Numeric_1]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[New].Control[String_1]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>