﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.6.110 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_44ServiceAxisData">
  <Property Name="Description" Value="Default Page" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="44" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="MainFrame" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_4XService_SubTabs]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="_4XService_SubTabs" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="AxisDiag_Revs">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisDiagRevsSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99323" Value="SPEED" />
          <Text ID="99324" Value="LAG ERROR" />
          <Text ID="99325" Value="POSITION" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99323" Value="" />
          <Text ID="99324" Value="" />
          <Text ID="99325" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="99323" Value="" />
          <Text ID="99324" Value="" />
          <Text ID="99325" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="99323" Value="" />
          <Text ID="99324" Value="" />
          <Text ID="99325" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="99323" Value="" />
          <Text ID="99324" Value="" />
          <Text ID="99325" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99323" Value="39" />
          <Index ID="99324" Value="40" />
          <Index ID="99325" Value="41" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_revs.data.Position]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="39" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="40" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="41" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_revs.data.Velocity]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_revs.data.FE]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99397" Value="ERROR ID" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99397" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="99397" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="99397" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="99397" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99397" Value="32" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="32" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="120" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="32676" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="135" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.ErrorID]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001018" Name="Dropdown_1">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.axisconfigindex]" />
          <Property Name="Left" Value="23" />
          <Property Name="LeftBitmap" Value="None" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]" />
          <Property Name="TextGroup" Value="Source[global].TextGroup[AxisList]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="88" />
          <Property Name="Width" Value="180" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="AxisDiag_Currents">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisDiagCurrentsSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="4" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99352" Value="AMPS" />
          <Text ID="99353" Value="AMPS (Pk)" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99352" Value="" />
          <Text ID="99353" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="99352" Value="" />
          <Text ID="99353" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="99352" Value="" />
          <Text ID="99353" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="99352" Value="" />
          <Text ID="99353" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99352" Value="13" />
          <Index ID="99353" Value="14" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="13" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="120" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="14" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="120" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="135" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.Ic]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="135" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.Ip]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="AxisDiag_DriveIO">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisDiagDriveIOSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="5" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99328" Value="EN" />
          <Text ID="99329" Value="OT+" />
          <Text ID="99330" Value="HOME" />
          <Text ID="99331" Value="TRIG1" />
          <Text ID="99332" Value="OT-" />
          <Text ID="99338" Value="TRIG2" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99328" Value="" />
          <Text ID="99329" Value="" />
          <Text ID="99330" Value="" />
          <Text ID="99331" Value="" />
          <Text ID="99332" Value="" />
          <Text ID="99338" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="99328" Value="" />
          <Text ID="99329" Value="" />
          <Text ID="99330" Value="" />
          <Text ID="99331" Value="" />
          <Text ID="99332" Value="" />
          <Text ID="99338" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="99328" Value="" />
          <Text ID="99329" Value="" />
          <Text ID="99330" Value="" />
          <Text ID="99331" Value="" />
          <Text ID="99332" Value="" />
          <Text ID="99338" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="99328" Value="" />
          <Text ID="99329" Value="" />
          <Text ID="99330" Value="" />
          <Text ID="99331" Value="" />
          <Text ID="99332" Value="" />
          <Text ID="99338" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99328" Value="2" />
          <Index ID="99329" Value="3" />
          <Index ID="99330" Value="4" />
          <Index ID="99331" Value="5" />
          <Index ID="99332" Value="6" />
          <Index ID="99338" Value="12" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="230" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="2" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="80" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="278" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="230" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="95" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.dig_in_enable]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="278" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.dig_in_pos_hw_end]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_22">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="275" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="80" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_23">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="230" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="120" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_24">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="278" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="120" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_16">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="230" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="135" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.dig_in_trigger1]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="278" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="95" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.dig_in_reference]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="278" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="135" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.dig_in_neg_hw_end]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_25">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="230" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="12" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_20">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="230" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_notype.data.dig_in_trigger2]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="40" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="AxisDiag_Linear">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisDiagLinearSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="6" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99281" Value="SPEED" />
          <Text ID="99282" Value="LAG ERROR" />
          <Text ID="99283" Value="POSITION" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99281" Value="" />
          <Text ID="99282" Value="" />
          <Text ID="99283" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="99281" Value="" />
          <Text ID="99282" Value="" />
          <Text ID="99283" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="99281" Value="" />
          <Text ID="99282" Value="" />
          <Text ID="99283" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="99281" Value="" />
          <Text ID="99282" Value="" />
          <Text ID="99283" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99281" Value="35" />
          <Index ID="99282" Value="36" />
          <Index ID="99283" Value="37" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_linear.data.Position]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="35" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="36" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="37" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_linear.data.Velocity]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_linear.data.FE]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="AxisDiag_Degrees">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisDiagDegreesSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="7" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99243" Value="SPEED" />
          <Text ID="99244" Value="LAG ERROR" />
          <Text ID="99245" Value="POSITION" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99243" Value="" />
          <Text ID="99244" Value="" />
          <Text ID="99245" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="99243" Value="" />
          <Text ID="99244" Value="" />
          <Text ID="99245" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="99243" Value="" />
          <Text ID="99244" Value="" />
          <Text ID="99245" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="99243" Value="" />
          <Text ID="99244" Value="" />
          <Text ID="99245" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99243" Value="39" />
          <Index ID="99244" Value="40" />
          <Index ID="99245" Value="41" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_degrees.data.Position]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="39" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="40" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="2" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="41" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="78" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_degrees.data.Velocity]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="154" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="175" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisDiag_degrees.data.FE]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="70" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Login" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Z-Order" Value="8" />
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[String_1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[AxisDiag_Degrees].Control[Numeric_8]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[AxisDiag_Degrees].Control[Numeric_9]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[AxisDiag_Degrees].Control[Numeric_12]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[AxisDiag_Linear].Control[Numeric_8]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[AxisDiag_Linear].Control[Numeric_9]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[AxisDiag_Linear].Control[Numeric_12]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[AxisDiag_Revs].Control[Numeric_8]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[AxisDiag_Revs].Control[Numeric_9]" />
    <TabSeqItem Index="10" Value="Source[embedded].Layer[AxisDiag_Revs].Control[Numeric_12]" />
    <TabSeqItem Index="11" Value="Source[embedded].Layer[AxisDiag_DriveIO].Control[Numeric_14]" />
    <TabSeqItem Index="12" Value="Source[embedded].Layer[AxisDiag_DriveIO].Control[Numeric_15]" />
    <TabSeqItem Index="13" Value="Source[embedded].Layer[AxisDiag_DriveIO].Control[Numeric_16]" />
    <TabSeqItem Index="14" Value="Source[embedded].Layer[AxisDiag_DriveIO].Control[Numeric_17]" />
    <TabSeqItem Index="15" Value="Source[embedded].Layer[AxisDiag_DriveIO].Control[Numeric_18]" />
    <TabSeqItem Index="16" Value="Source[embedded].Layer[AxisDiag_DriveIO].Control[Numeric_20]" />
    <TabSeqItem Index="17" Value="Source[embedded].Layer[AxisDiag_Currents].Control[Numeric_11]" />
    <TabSeqItem Index="18" Value="Source[embedded].Layer[AxisDiag_Currents].Control[Numeric_13]" />
    <TabSeqItem Index="19" Value="Source[embedded].Layer[Default].Control[Numeric_19]" />
    <TabSeqItem Index="20" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
  </TabSequence>
</Page>