﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.6.110 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_84SysAxisSetup3Limits">
  <Property Name="Description" Value="Default Page" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="84" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="MainFrame" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_8XSys_SubTabs]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="_8XSys_SubTabs" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="SoftwareLimits_linear">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsSWLinearSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97678" Value="SW LIM-" />
          <Text ID="97679" Value="SW LIM+" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97678" Value="" />
          <Text ID="97679" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97678" Value="" />
          <Text ID="97679" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97678" Value="" />
          <Text ID="97679" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97678" Value="" />
          <Text ID="97679" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97678" Value="0" />
          <Index ID="97679" Value="1" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="165" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="165" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="1" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="152" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="225" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="152" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Limits.AXLIM_POS_SW_END]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="225" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Limits.AXLIM_NEG_SW_END]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="SoftwareLimits_rev">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsSWRevsSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97674" Value="SW LIM-" />
          <Text ID="97675" Value="SW LIM+" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97674" Value="" />
          <Text ID="97675" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97674" Value="" />
          <Text ID="97675" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97674" Value="" />
          <Text ID="97675" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97674" Value="" />
          <Text ID="97675" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97674" Value="0" />
          <Index ID="97675" Value="1" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="165" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="165" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="1" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="152" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="225" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="152" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.Limits.AXLIM_POS_SW_END]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="225" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.Limits.AXLIM_NEG_SW_END]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="SoftwareLimits_deg">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsSWDegSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="4" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96476" Value="SW LIM-" />
          <Text ID="96477" Value="SW LIM+" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96476" Value="" />
          <Text ID="96477" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96476" Value="" />
          <Text ID="96477" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96476" Value="" />
          <Text ID="96477" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96476" Value="" />
          <Text ID="96477" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="96476" Value="11" />
          <Index ID="96477" Value="12" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="165" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="165" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="12" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="152" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="225" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="152" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_POS_SW_END]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="225" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_NEG_SW_END]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="LagError_linear">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsLagErrorLinearSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="5" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97671" Value="LAG LIM" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97671" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97671" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97671" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97671" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97671" Value="3" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="10" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="176" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="176" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Limits.AXLIM_DS_STOP]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="LagError_rev">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsLagErrorRevsSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="6" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97666" Value="LAG LIM" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97666" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97666" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97666" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97666" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97666" Value="0" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="10" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="176" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="176" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.Limits.AXLIM_DS_STOP]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="LagError_deg">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsLagErrorDegSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="7" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96463" Value="LAG LIM" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96463" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96463" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96463" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96463" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="96463" Value="4" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="10" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="176" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="176" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_DS_STOP]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="VelocityAccel_linear">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsVelAccLinearSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="8" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97706" Value="AC/DC LIM" />
          <Text ID="97707" Value="VEL LIM" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97706" Value="" />
          <Text ID="97707" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97706" Value="" />
          <Text ID="97707" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97706" Value="" />
          <Text ID="97707" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97706" Value="" />
          <Text ID="97707" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97706" Value="5" />
          <Index ID="97707" Value="6" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Limits.AXLIM_V]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="5" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="152" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="5" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="152" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Limits.AXLIM_A]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="VelocityAccel_rev">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsVelAccRevsSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="9" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97690" Value="AC/DC LIM" />
          <Text ID="97691" Value="VEL LIM" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97690" Value="" />
          <Text ID="97691" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97690" Value="" />
          <Text ID="97691" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97690" Value="" />
          <Text ID="97691" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97690" Value="" />
          <Text ID="97691" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97690" Value="5" />
          <Index ID="97691" Value="6" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_V]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="5" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="152" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="5" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="152" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_A]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="VelocityAccel_deg">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupLimitsVelAccDegSDP]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="10" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97289" Value="AC/DC LIM" />
          <Text ID="97291" Value="VEL LIM" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97289" Value="" />
          <Text ID="97291" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97289" Value="" />
          <Text ID="97291" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97289" Value="" />
          <Text ID="97291" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97289" Value="" />
          <Text ID="97291" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="97289" Value="12" />
          <Index ID="97291" Value="14" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_V]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="5" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="12" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="152" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="5" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="14" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="70" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="152" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Limits.AXLIM_A]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="90" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="11" />
      <TextGroup>
        <TextLayer LanguageId="en" />
        <TextLayer LanguageId="de" />
        <TextLayer LanguageId="es" />
        <TextLayer LanguageId="zh" />
        <TextLayer LanguageId="fr" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001018" Name="Dropdown_2">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.axisconfigindex]" />
          <Property Name="Left" Value="2" />
          <Property Name="LeftBitmap" Value="None" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]" />
          <Property Name="TextGroup" Value="Source[global].TextGroup[AxisList]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="90" />
          <Property Name="Width" Value="150" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Login" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Z-Order" Value="12" />
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_10]" />
      <Property Name="Left" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_10]" />
      <Property Name="Right" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_10]" />
      <Property Name="Up" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_10]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_11]" />
      <Property Name="Left" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_11]" />
      <Property Name="Right" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_11]" />
      <Property Name="Up" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_11]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_10]" />
      <Property Name="Left" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_10]" />
      <Property Name="Right" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_10]" />
      <Property Name="Up" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_10]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_11]" />
      <Property Name="Left" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_11]" />
      <Property Name="Right" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_11]" />
      <Property Name="Up" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_11]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_11]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[LagError_linear].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[LagError_rev].Control[Numeric_12]" />
      <Property Name="Left" Value="Source[embedded].Layer[LagError_rev].Control[Numeric_12]" />
      <Property Name="Right" Value="Source[embedded].Layer[LagError_rev].Control[Numeric_12]" />
      <Property Name="Up" Value="Source[embedded].Layer[LagError_rev].Control[Numeric_12]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[LagError_rev].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[LagError_deg].Control[Numeric_12]" />
      <Property Name="Left" Value="Source[embedded].Layer[LagError_deg].Control[Numeric_12]" />
      <Property Name="Right" Value="Source[embedded].Layer[LagError_deg].Control[Numeric_12]" />
      <Property Name="Up" Value="Source[embedded].Layer[LagError_deg].Control[Numeric_12]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[LagError_deg].Control[Numeric_12]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]">
      <Property Name="Down" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_8]" />
      <Property Name="Left" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_8]" />
      <Property Name="Right" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_8]" />
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_8]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_9]" />
      <Property Name="Left" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_9]" />
      <Property Name="Right" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_9]" />
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_9]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_8]">
      <Property Name="Down" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_8]" />
      <Property Name="Left" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_8]" />
      <Property Name="Right" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_8]" />
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_8]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_9]" />
      <Property Name="Left" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_9]" />
      <Property Name="Right" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_9]" />
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_9]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_8]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Dropdown_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]" />
      <Property Name="Left" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Dropdown_2]">
      <Property Name="Down" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Dropdown_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_2]" />
      <Property Name="Up" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]" />
      <Property Name="Left" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]" />
      <Property Name="Right" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]" />
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[LagError_deg].Control[Numeric_12]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_10]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[SoftwareLimits_deg].Control[Numeric_11]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_9]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[VelocityAccel_deg].Control[Numeric_8]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[LagError_rev].Control[Numeric_12]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_10]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[SoftwareLimits_rev].Control[Numeric_11]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]" />
    <TabSeqItem Index="10" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]" />
    <TabSeqItem Index="11" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_8]" />
    <TabSeqItem Index="12" Value="Source[embedded].Layer[VelocityAccel_rev].Control[Numeric_9]" />
    <TabSeqItem Index="13" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]" />
    <TabSeqItem Index="14" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]" />
    <TabSeqItem Index="15" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    <TabSeqItem Index="16" Value="Source[local].Layer[Login].Control[String_1]" />
    <TabSeqItem Index="17" Value="Source[embedded].Layer[Default].Control[Dropdown_2]" />
  </TabSequence>
</Page>