﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.1.10.69 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_1SPLASH">
  <Property Name="BackColor" Value="252" />
  <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.HMIColors.ActiveTabColor]" />
  <Property Name="Description" Value="Default Page" />
  <Property Name="Height" Value="480" />
  <Property Name="Index" Value="1" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="640" />
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="480" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="640" />
      <Property Name="Z-Order" Value="0" />
      <TextGroup>
        <TextLayer LanguageId="en" />
        <TextLayer LanguageId="de" />
        <TextLayer LanguageId="es" />
        <TextLayer LanguageId="zh" />
        <TextLayer LanguageId="fr" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[iAsplashLogo]" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="480" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="640" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="480" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]" />
          <Property Name="Width" Value="640" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
  </Layers>
  <MovementOrder />
  <TabSequence />
</Page>