﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.1.10.69 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_40ServiceAlarmsCurrent">
  <Property Name="Description" Value="Default Page" />
  <Property Name="Height" Value="480" />
  <Property Name="Index" Value="40" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="640" />
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="MainFrame" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_4XService_SubTabs]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="_4XService_SubTabs" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="480" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="640" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en" />
        <TextLayer LanguageId="de" />
        <TextLayer LanguageId="es" />
        <TextLayer LanguageId="zh" />
        <TextLayer LanguageId="fr" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001009" Name="Alarm_1">
          <Property Name="AcknowledgeState_Position" Value="None" />
          <Property Name="AlarmNumber_Alignment" Value="Left" />
          <Property Name="AlarmNumber_MinDigits" Value="3" />
          <Property Name="AlarmNumber_Position" Value="Column 2" />
          <Property Name="AlarmNumber_SeparatorTextGroup" Value="None" />
          <Property Name="AlarmNumber_Width" Value="35" />
          <Property Name="AlarmState_Position" Value="None" />
          <Property Name="AlarmText_Alignment" Value="Left" />
          <Property Name="AlarmText_Position" Value="Column 3" />
          <Property Name="AlarmText_SeparatorTextGroup" Value="None" />
          <Property Name="AlarmText_Width" Value="360" />
          <Property Name="BypassState_Position" Value="None" />
          <Property Name="ColumnCount" Value="3" />
          <Property Name="ControlDatapoint" Value="Source[global].Variable[DataSource.Programs.Alarms.alarmmgr.AlarmGroupFilterMode]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Cursor_LeftBitmap" Value="None" />
          <Property Name="Cursor_LeftTextGroup" Value="None" />
          <Property Name="Cursor_RightBitmap" Value="None" />
          <Property Name="Cursor_RightTextGroup" Value="None" />
          <Property Name="DateTime_Alignment" Value="Left" />
          <Property Name="DateTime_FormatStringBaseIndex" Value="0" />
          <Property Name="DateTime_FormatStringTextGroup" Value="Source[global].TextGroup[DateTimeFormats]" />
          <Property Name="DateTime_Position" Value="Column 1" />
          <Property Name="DateTime_SeparatorTextGroup" Value="None" />
          <Property Name="DateTime_Width" Value="145" />
          <Property Name="Description" Value="" />
          <Property Name="Event_Position" Value="None" />
          <Property Name="GroupDatapoint" Value="Source[global].Variable[DataSource.Programs.Alarms.alarmmgr.AlarmGroupFilter]" />
          <Property Name="GroupNumber_Position" Value="None" />
          <Property Name="Height" Value="310" />
          <Property Name="Left" Value="30" />
          <Property Name="Node1" Value="User order" />
          <Property Name="Priority_Position" Value="None" />
          <Property Name="SortColumn" Value="Time" />
          <Property Name="SortOrder" Value="Descending" />
          <Property Name="Source" Value="Current" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[AlarmCurrentEdit]" />
          <Property Name="Top" Value="110" />
          <Property Name="Width" Value="550" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="30" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="579" />
          <Property Name="PressedBitmapSource" Value="None" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[MultiScrollDownButton]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="390" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmCurrent_Bottom]" />
          <Property Name="Width" Value="31" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="30" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="579" />
          <Property Name="PressedBitmapSource" Value="None" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollUpButton]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="140" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmCurrent_Newer]" />
          <Property Name="Width" Value="31" />
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="15" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="190" />
          <Property Name="Left" Value="579" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="170" />
          <Property Name="Width" Value="31" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="30" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="579" />
          <Property Name="PressedBitmapSource" Value="None" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[MultiScrollUpButton]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="110" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmCurrent_Top]" />
          <Property Name="Width" Value="31" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="30" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="579" />
          <Property Name="PressedBitmapSource" Value="None" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollDownButton]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="360" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmCurrent_Older]" />
          <Property Name="Width" Value="31" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="AlarmCurrent_Newer">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Up" />
              <Property Name="Control" Value="Source[local].Page[_40ServiceAlarmsCurrent].Layer[Default].Control[Alarm_1]" />
              <Property Name="Description" Value="" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmCurrent_Older">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Down" />
              <Property Name="Control" Value="Source[local].Page[_40ServiceAlarmsCurrent].Layer[Default].Control[Alarm_1]" />
              <Property Name="Description" Value="" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmCurrent_Top">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Goto Document Start" />
              <Property Name="Control" Value="Source[local].Page[_40ServiceAlarmsCurrent].Layer[Default].Control[Alarm_1]" />
              <Property Name="Description" Value="" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmCurrent_Bottom">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Goto Document End" />
              <Property Name="Control" Value="Source[local].Page[_40ServiceAlarmsCurrent].Layer[Default].Control[Alarm_1]" />
              <Property Name="Description" Value="" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Login" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Z-Order" Value="3" />
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Alarm_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Alarm_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    <TabSeqItem Index="2" Value="Source[local].Layer[Login].Control[String_1]" />
  </TabSequence>
</Page>