﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.1.10.69 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_46ServiceVariableWatch">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="480" />
  <Property Name="Index" Value="46" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="640" />
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="MainFrame" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_4XService_SubTabs]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="_4XService_SubTabs" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="480" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="640" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="161352" Value="REQUEST" />
          <Text ID="161354" Value="MONITOR" />
          <Text ID="161355" Value="MONITORING" />
          <Text ID="161356" Value="INPUT VARIABLE NAME" />
          <Text ID="161357" Value="VALUE" />
          <Text ID="161358" Value="Type" />
          <Text ID="161359" Value="Dimension" />
          <Text ID="162286" Value="" />
          <Text ID="162287" Value="" />
          <Text ID="162288" Value="" />
          <Text ID="162289" Value="CLEAR" />
          <Text ID="162295" Value="Explicit specification of the AppModuleName must use this format: [&lt;AppModuleName&gt;&quot;::&quot;]&lt;ObjectName&gt;" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="161352" Value="" />
          <Text ID="161354" Value="" />
          <Text ID="161355" Value="" />
          <Text ID="161356" Value="" />
          <Text ID="161357" Value="" />
          <Text ID="161358" Value="" />
          <Text ID="161359" Value="" />
          <Text ID="162286" Value="" />
          <Text ID="162287" Value="" />
          <Text ID="162288" Value="" />
          <Text ID="162289" Value="" />
          <Text ID="162295" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="161352" Value="" />
          <Text ID="161354" Value="" />
          <Text ID="161355" Value="" />
          <Text ID="161356" Value="" />
          <Text ID="161357" Value="" />
          <Text ID="161358" Value="" />
          <Text ID="161359" Value="" />
          <Text ID="162286" Value="Text_6" />
          <Text ID="162287" Value="" />
          <Text ID="162288" Value="" />
          <Text ID="162289" Value="" />
          <Text ID="162295" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="161352" Value="" />
          <Text ID="161354" Value="" />
          <Text ID="161355" Value="" />
          <Text ID="161356" Value="" />
          <Text ID="161357" Value="" />
          <Text ID="161358" Value="" />
          <Text ID="161359" Value="" />
          <Text ID="162286" Value="" />
          <Text ID="162287" Value="" />
          <Text ID="162288" Value="" />
          <Text ID="162289" Value="" />
          <Text ID="162295" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="161352" Value="" />
          <Text ID="161354" Value="" />
          <Text ID="161355" Value="" />
          <Text ID="161356" Value="" />
          <Text ID="161357" Value="" />
          <Text ID="161358" Value="" />
          <Text ID="161359" Value="" />
          <Text ID="162286" Value="" />
          <Text ID="162287" Value="" />
          <Text ID="162288" Value="" />
          <Text ID="162289" Value="" />
          <Text ID="162295" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="161352" Value="0" />
          <Index ID="161354" Value="2" />
          <Index ID="161355" Value="3" />
          <Index ID="161356" Value="4" />
          <Index ID="161357" Value="5" />
          <Index ID="161358" Value="6" />
          <Index ID="161359" Value="7" />
          <Index ID="162286" Value="9" />
          <Index ID="162287" Value="10" />
          <Index ID="162288" Value="11" />
          <Index ID="162289" Value="12" />
          <Index ID="162295" Value="15" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x0000100B" Name="VarNameInput">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxChars" Value="80" />
          <Property Name="SimulationValue" Value="JohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMadden" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.nameInSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="Top" Value="150" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.varRead.par.name]" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="Border" Value="Source[local].Border[Rounded]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="9" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="286" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x0000100B" Name="stringOut">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxChars" Value="80" />
          <Property Name="SimulationValue" Value="JohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMadden" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.stringOutSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="286" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.stringOutVar]" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001007" Name="DintOut">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="-2147483648" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.dintOutSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[OutputFrameless]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="286" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.dintOutVar]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001007" Name="UdintOut">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="4294967295" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.udintOutSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[OutputFrameless]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="286" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.udintOutVar]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001007" Name="RealOut">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="-1.18E-38" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.realOutSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[OutputFrameless]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="286" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.realOutVar]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Search]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_17]" />
          <Property Name="Height" Value="50" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="76" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.RequestSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndex" Value="0" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="192" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_17]" />
          <Property Name="Width" Value="156" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Monitor]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_18]" />
          <Property Name="Height" Value="50" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="406" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="PressedTextIndex" Value="3" />
          <Property Name="PressedTextSource" Value="SingleText" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.MonitorSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndex" Value="2" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="192" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_18]" />
          <Property Name="Width" Value="156" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="29" />
          <Property Name="Left" Value="33" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="107" />
          <Property Name="Width" Value="575" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="29" />
          <Property Name="Left" Value="33" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="257" />
          <Property Name="Width" Value="575" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="35" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="98" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="35" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="7" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="360" />
          <Property Name="Width" Value="98" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="Border" Value="Source[local].Border[Rounded]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="133" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="360" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001007" Name="dimension">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="32767" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[OutputFrameless]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="360" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.varRead.par.pv_dimension]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="Border" Value="Source[local].Border[Rounded]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="133" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="10" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001004" Name="datatype">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.varRead.par.pv_datatype]" />
          <Property Name="Left" Value="27" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[global].TextGroup[VarReadDatatypes]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Eraser]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_19]" />
          <Property Name="Height" Value="50" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="241" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.clearVarSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndex" Value="12" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="192" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_19]" />
          <Property Name="Width" Value="156" />
        </Control>
        <Control ClassId="0x0000100B" Name="wstringOut">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxChars" Value="80" />
          <Property Name="SimulationValue" Value="JohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMaddenJohnMadden" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.wstringOutSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="286" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.wstringOutVar]" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001007" Name="LRealOut">
          <Property Name="Border" Value="Source[local].Border[Transparent]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="Left" Value="27" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="-1.79769313486231E+308" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.lrealOutSDP]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[OutputFrameless]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="286" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.Data.varRead.lrealOutVar]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="586" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size9]" />
          <Property Name="Height" Value="15" />
          <Property Name="Left" Value="27" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="15" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="132" />
          <Property Name="Width" Value="586" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_17">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.VarReqPB]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_18">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.VarMonitorPB]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_19">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.VarClearPB]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Login" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Z-Order" Value="3" />
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[VarNameInput]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[VarNameInput]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[VarNameInput]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[VarNameInput]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[VarNameInput]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[String_1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[VarNameInput]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[stringOut]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[DintOut]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[UdintOut]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[RealOut]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[dimension]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[wstringOut]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[LRealOut]" />
  </TabSequence>
</Page>