﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.1.10.69 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_81SysNetwork">
  <Property Name="Description" Value="Default Page" />
  <Property Name="Height" Value="480" />
  <Property Name="Index" Value="81" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="640" />
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="MainFrame" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_8XSys_SubTabs]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="_8XSys_SubTabs" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Login" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="480" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="640" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95052" Value="IP ADDRESS" />
          <Text ID="95053" Value="SUBNET MASK" />
          <Text ID="95054" Value="GATEWAY" />
          <Text ID="95055" Value="INA NODE" />
          <Text ID="95056" Value="SET" />
          <Text ID="95058" Value="." />
          <Text ID="95059" Value="." />
          <Text ID="95060" Value="." />
          <Text ID="95061" Value="." />
          <Text ID="95062" Value="." />
          <Text ID="95063" Value="." />
          <Text ID="95064" Value="." />
          <Text ID="95065" Value="." />
          <Text ID="95066" Value="." />
          <Text ID="95100" Value="CONFIG MODE" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95052" Value="" />
          <Text ID="95053" Value="" />
          <Text ID="95054" Value="" />
          <Text ID="95055" Value="" />
          <Text ID="95056" Value="" />
          <Text ID="95058" Value="" />
          <Text ID="95059" Value="" />
          <Text ID="95060" Value="" />
          <Text ID="95061" Value="" />
          <Text ID="95062" Value="" />
          <Text ID="95063" Value="" />
          <Text ID="95064" Value="" />
          <Text ID="95065" Value="" />
          <Text ID="95066" Value="" />
          <Text ID="95100" Value="" />
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95052" Value="" />
          <Text ID="95053" Value="" />
          <Text ID="95054" Value="" />
          <Text ID="95055" Value="" />
          <Text ID="95056" Value="" />
          <Text ID="95058" Value="" />
          <Text ID="95059" Value="" />
          <Text ID="95060" Value="" />
          <Text ID="95061" Value="" />
          <Text ID="95062" Value="" />
          <Text ID="95063" Value="" />
          <Text ID="95064" Value="" />
          <Text ID="95065" Value="" />
          <Text ID="95066" Value="" />
          <Text ID="95100" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95052" Value="" />
          <Text ID="95053" Value="" />
          <Text ID="95054" Value="" />
          <Text ID="95055" Value="" />
          <Text ID="95056" Value="" />
          <Text ID="95058" Value="" />
          <Text ID="95059" Value="" />
          <Text ID="95060" Value="" />
          <Text ID="95061" Value="" />
          <Text ID="95062" Value="" />
          <Text ID="95063" Value="" />
          <Text ID="95064" Value="" />
          <Text ID="95065" Value="" />
          <Text ID="95066" Value="" />
          <Text ID="95100" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95052" Value="" />
          <Text ID="95053" Value="" />
          <Text ID="95054" Value="" />
          <Text ID="95055" Value="" />
          <Text ID="95056" Value="" />
          <Text ID="95058" Value="" />
          <Text ID="95059" Value="" />
          <Text ID="95060" Value="" />
          <Text ID="95061" Value="" />
          <Text ID="95062" Value="" />
          <Text ID="95063" Value="" />
          <Text ID="95064" Value="" />
          <Text ID="95065" Value="" />
          <Text ID="95066" Value="" />
          <Text ID="95100" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="95052" Value="0" />
          <Index ID="95053" Value="1" />
          <Index ID="95054" Value="2" />
          <Index ID="95055" Value="3" />
          <Index ID="95056" Value="4" />
          <Index ID="95058" Value="6" />
          <Index ID="95059" Value="7" />
          <Index ID="95060" Value="8" />
          <Index ID="95061" Value="9" />
          <Index ID="95062" Value="10" />
          <Index ID="95063" Value="11" />
          <Index ID="95064" Value="12" />
          <Index ID="95065" Value="13" />
          <Index ID="95066" Value="14" />
          <Index ID="95100" Value="15" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="145" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="170" />
          <Property Name="Width" Value="350" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="145" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="1" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="220" />
          <Property Name="Width" Value="350" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="145" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="2" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="270" />
          <Property Name="Width" Value="350" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="145" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="320" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="51" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="290" />
          <Property Name="PressedBitmapSource" Value="None" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndex" Value="4" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="330" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[EthernetSettingsSet]" />
          <Property Name="Width" Value="130" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="145" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="190" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetIPAddress[0]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="235" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="190" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetIPAddress[1]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="325" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="190" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetIPAddress[2]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="415" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="190" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetIPAddress[3]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="225" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="190" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="315" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="7" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="190" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="405" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="8" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="190" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="145" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="240" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSubnetMask[0]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="234" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="240" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSubnetMask[1]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="325" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="240" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSubnetMask[2]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="415" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="240" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSubnetMask[3]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="225" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="9" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="240" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="315" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="10" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="240" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="405" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="240" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="145" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetGatewayAddress[0]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="235" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetGatewayAddress[1]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_15">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="325" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetGatewayAddress[2]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_16">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="415" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetGatewayAddress[3]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="225" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="12" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="315" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="13" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Size16]" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="405" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="14" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="10" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_17">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="145" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="340" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetINANode]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="145" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="15" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="108" />
          <Property Name="Width" Value="350" />
        </Control>
        <Control ClassId="0x00001018" Name="Dropdown_1">
          <Property Name="BackColor" Value="254" />
          <Property Name="ButtonsBitmapGroup" Value="Source[local].BitmapGroup[DropDown]" />
          <Property Name="ButtonsBitmapOffset" Value="0" />
          <Property Name="ButtonsPressedBitmapGroup" Value="Source[local].BitmapGroup[DropDown]" />
          <Property Name="ButtonsPressedBitmapOffset" Value="1" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="DropdownBorder" Value="Source[local].Border[ControlActive]" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="40" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetConfigMode]" />
          <Property Name="Left" Value="145" />
          <Property Name="LeftBitmap" Value="None" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="1" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]" />
          <Property Name="TextGroup" Value="Source[global].TextGroup[IPAddressMode]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="128" />
          <Property Name="Width" Value="350" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.HMI.EthernetSettingsStatus]" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]" />
          <Property Name="TextGroup" Value="Source[global].TextGroup[EthernetSettingsStatus]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="385" />
          <Property Name="Width" Value="640" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_9]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_11]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_5]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_8]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_6]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_7]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_8]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_8]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_13]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_14]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_9]" />
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_15]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_16]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_11]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_9]" />
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_13]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_17]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_16]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_14]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_9]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_14]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_17]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_13]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_15]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_15]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_17]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_14]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_16]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_11]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_16]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_17]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_15]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_13]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_17]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_16]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_13]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_17]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_8]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_9]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_11]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_13]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[Numeric_14]" />
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[Numeric_15]" />
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[Numeric_16]" />
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[Numeric_17]" />
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
    <TabSeqItem Index="14" Value="Source[local].Layer[Login].Control[Listbox_1]" />
    <TabSeqItem Index="15" Value="Source[local].Layer[Login].Control[String_1]" />
  </TabSequence>
</Page>